.scheduled {
    display: flex;
    justify-content: space-between;
    background-color: rgba(43, 128, 255, 0.10);
    border: 1px solid rgba(43, 128, 255, 0.30);
    padding: 0.875rem;
    border-radius: 0.875rem;
    align-items: center;
    

    &__title {
        font-size: 0.875rem;
        font-weight: normal;
    }

    &__count {
        font-size: 0.75rem;
        color: #90A1B9;
    }
}