.create-routine {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  gap: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1rem;
    font-weight: normal;
  }

  &__close {
    background-color: #1d293d;
    border: none;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    cursor: pointer;
  }

  &__name-input {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: rgba(29, 41, 61, 0.5);
    color: white;
    border-radius: 0.875rem;
    border: 1px solid #314158;
    &:focus {
      outline: none;
      border: 1px solid #2b7fff;
    }
    &::placeholder {
      color: #62748e;
    }
  }

  &__add-btn {
    font-size: 0.75rem;
    display: flex;
    gap: 0.375rem;
    padding: 0.25rem 0.625rem;
    background-color: #2b7fff;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__section {
    width: 100%;
    border: 1px solid #314158;
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    background-color: rgba(29, 41, 61, 0.3);
    border-radius: 0.875rem;

    &-header {
      display: flex;
      justify-content: space-between;
      background-color: rgba(29, 41, 61, 0.5);
      padding: 0.625rem 0.75rem;
      border-top-left-radius: 0.875rem;
      border-top-right-radius: 0.875rem;
    }

    &-name {
      font-size: 0.875rem;
      font-weight: normal;
    }

    &-content {
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      font-size: 0.875rem;
      color: #62748e;
    }
  }
  &__empty-message {
    padding: 0.5rem 0;
  }

  &__exercise-sets {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  &__save-btn {
    width: 100%;
    padding: 0.875rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(43, 127, 255, 0.75),
      rgba(152, 16, 250, 0.75)
    );
    font-size: 1rem;
    gap: 0.5rem;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      transform: scale(1.025) translateY(-2px);
      filter: brightness(1.5);
    }
  }
}
