.routine-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 65vh;
  z-index: 1000;
  background-color: #0f172b;
  border-top: 1px solid #314158;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  animation: slideUp 0.3s ease-out;
  overflow: scroll;

    &__actions {
        display: flex;
        gap: 0.5rem;
        
    }

  &__action {
    background: transparent;
    border: none;
    font-size: .75rem;

    &--start {
        color: #51A2FF;
        transition: color 0.15s;

        &:hover {
            color: #6fddff;
        }
    }

    &--remove {
        color: #FF6467;
        transition: color 0.15s;

        &:hover {
            color: #fc9294;
        }
    }
  }

  &--closing {
    animation: slideOut 0.3s ease;
  }

  &__header {
    padding: 1rem;
    
  }

  &__title {
    font-size: 1.125rem;
    font-weight: normal;
  }

  &__selectedDate {
    font-size: 0.875rem;
    color: #90a1b9;
  }

  &__list {
    overflow-y: auto;
    max-height: calc(65vh - 60px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    &-title {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: normal;
        color: #90A1B9;
    }
    border-top: 0.7px solid #314158;
  }

  &__exercise-btn {
    width: 100%;
    padding: 1rem 0.75rem;
    border: none;
    border-radius: 0.875rem;
    display: flex;
    color: white;
    font-size: 0.875rem;
    background-color: rgba(29, 41, 61, 0.5);
    border: 1px solid #314158;
    cursor: pointer;
    justify-content: space-between;
    gap: 0.25rem;

    &--sched {
        background-color: rgba(43, 128, 255, 0.1);
        border: 0.5px solid #2b80ff8a;
    }

  }

  &__numExercises {
    color: #90a1b9;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0.25;
  }
}
