.timer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #314158;
  background-color: rgba(29, 41, 61, 0.5);
  padding: 0.75rem;
  border-radius: 0.875rem;
  margin-bottom: 1rem;
  // align-items: center

  &__display {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__buttons {
    @extend .timer__display;

    &-btn {
      height: 2rem;
      width: 2rem;
      border: none;
      border-radius: 0.625rem;
      cursor: pointer;
      &--play {
        background-color: #2b7fff;
        transition: all 0.1s ease-in-out;
        &:hover {
          background-color: rgb(10, 107, 253);
        }
      }

      &--pause {
        background-color: #ff6900;
        transition: all 0.1s ease-in-out;
        &:hover {
          background-color: #ff4800;
        }
      }
      &--restart {
        background-color: #314158;

        &:hover {
          background-color: #3f5470;
        }
      }
    }
  }
}
