.header {
  display: flex;
  justify-content: space-between;
  // gap: 0.625rem;
  max-width: 575px;
  align-items: center;
  padding: 0 1rem;

  &__logo {
    cursor: pointer;
  }

  h1 {
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  &__auth {

  }
}
