// // @use "../../styles/abstracts/variables" as *;

.exercise {
  background-color: #131d30;
  // border-bottom-left-radius: 1rem;
  // border-bottom-right-radius: 1rem;
  border-bottom: 0.5px solid #45556ca7;

  &:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: none;
  }

  &__header {
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    padding: 0.75rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background-color: #172034;
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__name {
    color: white;
  }

  &__meta {
    color: #90a1b9;
  }

  &__chevron {
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: 0.5rem;
    align-items: center;
  }

  &__add-set {
    // width: 30%;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid rgba(49, 65, 88, 0.5);
    border-radius: 1000px;
    // background: #121a2e;
    // background-color: #e34d2c;
    background-image: linear-gradient(to bottom right, #2b7fff, #9810fa);
    cursor: pointer;


    

  }
}
