.set-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  background-color: #121a2e;
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(49, 65, 88, 0.5);

  &--checked {
    background-color: #1d293d;
    border-color: #314158;
  }

  &__label {
    width: 3.5rem;
    font-size: 0.75rem;
    color: #90a1b9;
  }

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    border: 1px solid #45556c;
    background-color: #1d293d;
    color: white;

    &--checked {
      background-color: #314158;
      border-color: #314158;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.479);
    }

    &:focus {
      outline: none;
    }
  }

  &__check {
    background-color: #314158;
    border: none;
    border-radius: 0.625rem;
    height: 2.25rem;
    width: 2.25rem;
    cursor: pointer;

    &--checked {
      background-color: #00c950;
    }
  }
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
