// Semi-transparent overlay that covers the entire screen
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Modal that slides up from bottom of screen
.exercise-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 65vh; // Takes up 80% of screen height max
  z-index: 1000; // Above backdrop
  animation: slideUp 0.3s ease;
  background-color: #0F172B;
  border-top: 1px solid #314158;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;

  &__contents {
    display: flex;
    padding: 1.5rem 2rem;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;

  }

  &__header {
    padding: 1rem 0.5rem;
    border-bottom: 0.5px solid #314158;
  }

  &__title {
    font-size: 1.125rem;
  }

  .searchEx {
    position: relative;
    display: flex;
  }

  &__search {
    padding: 0.75rem 1rem 0.75rem 2.25rem;
    border-radius: 0.75rem;
    border: none;
    width: 100%;
    font-family: "Inter";
    font-size: 1rem;

    &:focus {
      outline-color: #7B2DFB;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
  }

  

  .allMuscles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      width: 1rem;

      


      &:checked+label {


        background-color: #7B2DFB;
        border-color: #7B2DFB;
      }
    }

    label {
      display: inline-block;
      background-color: transparent;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 100px;
      border: 1px solid white;
      transition: 0.1s;

      &:hover {
        background: #924eff;
        cursor: pointer;
        border-color: #7B2DFB;
      }
    }
  }

  // Scrollable content area
  &__content {
    overflow-y: auto;
    max-height: calc(65vh - 60px); // Adjust based on header height
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    // padding: 0.75rem;
  }

  &__group {}

  &__group-label {
    font-size: 0.75rem;
    color: #62748E;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  &__exercise-btn {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 0.625rem 0.75rem;
    margin-bottom: 0.5rem;
    // border: 1px solid #314158;
    border: none;
    background-color: rgba(29, 41, 61, 0.5);
    color: white;
    border-radius: 0.875rem;
    font-size: 1rem;
    font-family: "Inter";
  }

  &__close {
    cursor: pointer;
  }
}

// Slide up animation
@keyframes slideUp {

  0%,
  100% {
    transform: translateY(0);
    /* Start and end at the bottom */
    /* Use translateY for performance when possible */
  }

  50% {
    transform: translateY(-20px);
    /* Move 100px upwards at the midpoint */
  }
}